<!DOCTYPE html>
<html>
<head>
    <title>Flipkart's Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<script src="{{ url_for('static', filename='home.js') }}"></script>
</body>

<body>
    <div class="card">
        <h1>FLIPKART PRODUCT'S REVIEWS ANALYSIS</h1>
        <p>This is the basic python & machine learning project in which I'm trying to scrap the all reviews of the product from flipkart. After this, using ML algorithms there will be some analysed results from all reviews </p>
        <a href="/get_reviews"><button>Let's Start</button></a>
    </div>
    
</body>
</html>
